indexcard.module.css

.cardContainer {
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  transition: transform 0.3s ease-in;
}

.cardHoverPositive:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 2px #0FEDBE;
}

.cardHoverNegative:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 2px #F63C6B;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 15rem;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in;
  background-color: #16181B;
}



.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -0.5rem;

}

.points {
  font-size: 1.7rem;
  font-weight: bold;
  color: #0FEDBE;
}
.changePositive {
   color: #0FEDBE; /* Apply green for positive changes */
  }
  
  .changeNegative {
   color: #F63C6B; /* Apply red for negative changes */
  }

.contentText {
  color: #999999;
}

/* Grid layout for columns */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 1rem; /* Space between columns */
  justify-items: stretch; /* Stretch to take full width */
}

.colSpan2 {
  grid-column: span 2; /* Equivalent to col-span-2 */
  text-overflow: wrap;
  align-self: baseline; /* Align to the baseline */
}

.colSpan1 {
  grid-column: span 1; /* Equivalent to col-span-1 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align to start */
  align-items: center;
  
}
  

.pointsChange {
  color: #0FEDBE;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}


