.sidebar{
     position: sticky;
     display: flex;
     flex-direction: column;
     background-color: #000000;
     border-right: #58BAFF 3px solid;
     height: 100%;
     width: 220px;
     top: 0;
}

.sidebarIcon{
     width: 30px;
     height: 30px;
     margin-top: 30px;
     margin-bottom: 40px;
     margin-left: 20px;
     justify-content: center ;
     align-items: center;
     cursor: pointer;
     font-size: large;
}