.sidebar {
     position: sticky;
     display: flex;
     flex-direction: column;
     background-color: #111827;
     border-right: #58BAFF 3px solid;
     height: calc(100vh - 90px); /* Adjust height based on your navbar's height */
     width: 80px;
     top: 86px; /* Match this value to your navbar's height */
 }
 
.sidebarIcon{
     width: 30px;
     height: 30px;
     margin-top: 30px;
     margin-bottom: 40px;
     margin-left: 20px;
     justify-content: center ;
     align-items: center;
     cursor: pointer;
     font-size: large;
}